* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  color: #fff;

  align-items: center;

  background: linear-gradient(120deg, #491977, #4215d6, #4f1d7e, #0a0225);
}

nav {
  box-shadow: inset -2px -1px 8px 1px #ffffff49;
  background-color: #ffffff15;
  border-radius: 15px;
  letter-spacing: 3px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

img {
  width: 60px;
  opacity: 0.6;
}

.active{
  display: block;
}

.container {
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: inset -2px -1px 8px 1px #ffffff49;
  background-color: #ffffff15;
  border-radius: 15px;
  width: 80%;
  height: 80vh;
  padding: 40px;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

}

.container::-webkit-scrollbar {
  width: 0px;

}


p {
  /* margin-bottom: 15px; */
  padding: 5px;

}




h1 {
  font-size: 1.8rem;
}


#let {
  animation: bounce 1s 4s linear infinite;
}

button {
  padding: 10px;
  background: #8733d4;
  border-radius: 10px;
  width: fit-content;
}

.text {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;

}

#wel {
  letter-spacing: 3px;
}

.def {
  margin: 20px;
  align-self: flex-start;
  background: linear-gradient(90deg, #7b17da65, #f55bfa65);
  box-shadow: inset 0px 0px 3px 0px #d3b5f049;
  padding: 5px;
  border-radius: 15px;
  width: 70%;
  padding: 10px;
  padding-left: 20px;

}


.q {
  /* margin-bottom: 20px; */
  display: none;
}

li {
  list-style: circle;
  margin: 10px;
}


.user {
  align-self: flex-end;
  background: linear-gradient(90deg, #7b17da65, #f55bfa65);
  box-shadow: inset 0px 0px 3px 0px #d3b5f049;
  border-radius: 15px;
  padding: 30px;
  margin: 20px;

}

.user>div {
  margin: 10px;
}


.download {
  background-color: #f37609;
  box-shadow: inset 0px 0px 8px 3px #fffdf952;
  border-radius: 10px;
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  width: fit-content;
  align-self: center;

}

.download:hover {
  background-color: #ca5303;
}



#gen {
  display: none;
}

#cont {
  /* display: none; */
}

#close {
  color: #333;
  background-color: #76747a;
  border-radius: 5px;
  padding: 5px;
  height: fit-content;
}


.feedback-container {
  background-color: #fff;
  /* display: none; */
  font-size: 1.2rem;
  /* top: 5%; */
  /* left: 0px;
    position: absolute; */
  color: #0a0225;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;

}

.feedback-container h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.feedback-form input,
.feedback-form textarea {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.star-rating {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.star-rating label {
  margin-right: 10px;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating .star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

.star-rating input[type="radio"]:checked~.star {
  color: #f37609;
  /* Star color when selected */
}

.feedback-form textarea {
  min-height: 100px;
}

.feedback-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feedback-form button:hover {
  background-color: rgb(21, 21, 81);
  /* Button color on hover */
}

.feedback-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.562);
  /* background-color: #0a0225; */
  justify-content: center;
  align-items: center;
}

.loader {
  border: 10px solid #240144;
  border-radius: 50%;
  border-top: 10px solid #ca5303;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}



/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.upload {

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 1, 37, 0.726);
  /* background-color: #0a0225; */
  justify-content: center;
  align-items: center;

}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#open-popup {
  margin-top: 70px;
  width: fit-content;

  background-color: #0a0225;
  border-radius: 50%;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 4px solid #ca5303;
  text-shadow: 1px -2px 1px #8a8484;
  /* box-shadow: 1px 1px 10px 1px #ca5303, 1px 1px 15px 1px #cac703, 1px 1px 15px 1px #fae20db6, */
  /* inset 1px 1px 15px 1px #e6e5eb65; */
}

.popup-content {
  color: #0a0225;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#close-popup {
  margin-top: 10px;
}

input[type=number] {
  color: #0a0225;
  outline: none;
  width:150px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #db5507;
  border-radius: 3px;
  
}

table {
  border: 1px solid #ccc;
}

#lightBulbsTable {
  width: 100%;
  margin: 0 auto;
  /* background-color: #fff; */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f57003;
  font-weight: bold;
}



select {
  color: #0a0225;
  outline: none;
  padding: 5px;


}

.insulation {
  background-color: #ca5303;
  padding: 5px;
}

.insulation>div {
  margin-top: 10px;
}

.active {
  display: block;
}

#learnMore:hover {
  background: #5e0a66;
}

.learn {
  color: #0a0225;
  /* display: none; */
  background-color: #fff;
  border-radius: 15px;
  width: 80%;
}

.learnpop {
  display: none;
  background: #080113a4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#wallInsulation,#atticInsulation{
  display: none;
}

.active{
  display: block;
}


@keyframes bounce {

  0%,
  100% {
    transform: rotate(5deg);

    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: rotate(-5deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}



@media screen and (max-width:750px) {
  .container {
    width: 90%;


    font-size: 1.2rem;
  }

  .loader {
    width: 100px;
    height: 100px;
  }


}

@media screen and (max-width:950px) {


  th,
  td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  th {
    text-align: left;
    font-weight: bold;
  }

  .lightBulbInput {
    width: 100%;
    margin-bottom: 15px;
  }

  input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }


}

@media screen and (max-width:400px) {
  .container {

    font-size: 1rem;
    width: 95%;
    margin-left: 10px;
  }

  input {
    width: 100px;
  }

  .feedback-container {
    width: 80%;
  }

  .feedback-container input {
    width: 90%;
  }

  .loader {
    width: 80px;
    height: 80px;
  }

  select {
    font-size: 10px;
  }



}



@media screen and (max-width:654px) {

  .def {
    width: 90%;
    margin-left: 10px;
  }

  select {
    font-size: 12px;
  }

  .container {
    padding: 10px;

    font-size: 1.3rem;
  }

  .user {
    width: 90%;
  }

  .list {
    display: none;
  }

  .loader {
    width: 60px;
    height: 60px;
  }

}


 
.demo {
	position: relative;
	width: 300px;
	height: 64px;
	padding-left: 70px;
	padding-right: 15px;
	border-radius: 10px;
	border: 1px solid white;
	background: rgb(73, 171, 195);
	transition: background-color 1s;
	cursor: pointer;
  }

  .demo:before, .demo:after {
	  content: "";
	  position: absolute;
	  left: 5%;
	  bottom: 100%;
	  width: 14%;
	  height: 6px;
	  background: #3dc1da;
	  transform: scaleX(0);
	  transform-origin: 0 100%;
  }
  .demo:after {
	  left: 19%;width: 66%;
  }

  .demo.s--processing {
	background-color: #53e2c2;
	transition-delay: 4.6s;
  }
  .demo.s--processing:before, .demo.s--processing:after {
	transform: scaleX(1);
	background-color: #36d09d;
  }
  .demo.s--processing:before {
	transition: transform 0.6s 1.4s, background-color 1s 4.6s;
  }
  .demo.s--processing:after {
	transition: transform 2.4169014085s 2.4s, background-color 1s 4.6s;
  }
  .demo.s--reverting {
	background-color: #61d4f1;
	transition: background-color 0.5s 0.96s;
  }
  .demo.s--reverting:before, .demo.s--reverting:after {
	opacity: 0;
  }
  .demo svg {
	overflow: visible;
	fill: none;
	stroke-linejoin: round;
  }
  .demo-transitionend-listener {
	transition: opacity 6.6s;
  }
  .demo.s--processing .demo-transitionend-listener {
	opacity: 0;
  }
  .demo__revert-line {
	position: absolute;
	left: 5%;
	bottom: 100%;
	width: 80%;
	height: 6px;
	background: #53e2c2;
	transform-origin: 0 50%;
	opacity: 0;
  }

  .demo.s--reverting 
  .demo__revert-line {
	  opacity: 1;
	  transform: scaleX(0);
	  transition: transform 0.864s;
  }

  .demo__drone-cont {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  }
  .demo__drone-cont--takeoff {
	z-index: -1;
	opacity: 0;
  }
  .demo.s--processing .demo__drone-cont--takeoff {
	opacity: 1;
	transform: translateY(-70px);
	transition: transform 0.8s, opacity 0.2s;
	transition-delay: 1.2s;
  }
  .demo.s--processing .demo__drone-cont--shift-x {
	transition: transform 2.6s 2.4s;
	transform: translateX(213px);
  }
  .demo.s--processing .demo__drone-cont--landing {
	transform: translateY(24px);
	transition: transform 0.3s 5s;
  }


  .demo__drone {
	position: absolute;
	left: 16px;
	top: -12px;
	width: 68px;
	height: 56px;
	stroke: #000;
	stroke-width: 2px;
	fill: none;
  }




  @-webkit-keyframes tiltAnim {
	  8%, 24% {
	    transform: rotate(0);
	  }
	  35%, 70% {
	    transform: rotate(8deg);
	  }
	  85% {
	    transform: rotate(-4deg);
	  }
	  95%, 100% {
	    transform: rotate(0);
	  }
  }

  @keyframes tiltAnim {
	8%, 24% {
	  transform: rotate(0);
	}
	35%, 70% {
	  transform: rotate(8deg);
	}
	85% {
	  transform: rotate(-4deg);
	}
	95%, 100% {
	  transform: rotate(0);
	}
  }


	.demo.s--processing .demo__drone {
		transform-origin: 50% 100%;
		-webkit-animation: tiltAnim 3.8s 1.2s;
				animation: tiltAnim 3.8s 1.2s;
	}



  .demo.s--processing .demo__drone-leaving {
	transform: translate(150px, -150px) rotate(20deg) scale(0.3);
	opacity: 0;
	transition: transform 1.1s 5.5s, opacity 0.55s 6.05s;
  }
  .demo__drone-arm {
	--rotation: 0deg;
	transform-origin: 68px 56px;
	transform: rotate(var(--rotation));
  }
  .demo__drone-arm--2 {
	transform: scaleX(-1) rotate(var(--rotation));
  }
  .demo.s--processing .demo__drone-arm {
	--rotation: 25deg;
	transition: transform 0.3s 5.2s;
  }
  
  .demo__drone-green {
	fill: #61d4f1;
  }


  .demo.s--processing .demo__drone-green {
	fill: #53e2c2;
	transition: fill 1s 4.6s;
  }
  .demo__drone-yellow {
	fill: #ecb400;
  }
  .demo__drone-package {
	stroke-width: 4px;
  }
  @-webkit-keyframes revertAnim {
	40%, 45% {
	  transform: translate(-426px, 0);
	}
	75% {
	  transform: translate(-426px, -100px);
	}
	100% {
	  transform: translate(-426px, 100px);
	}
  }
  @keyframes revertAnim {
	40%, 45% {
	  transform: translate(-426px, 0);
	}
	75% {
	  transform: translate(-426px, -100px);
	}
	100% {
	  transform: translate(-426px, 100px);
	}
  }
  .demo.s--reverting .demo__drone-package {
	opacity: 0;
	transition: opacity 0s 2s;
	-webkit-animation: revertAnim 2s;
			animation: revertAnim 2s;
  }
  .demo__circle {
	position: absolute;
	left: 30px;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	border-radius: 50%;
	background: #3dc1da;
  }
  .demo.s--processing .demo__circle {
	background-color: #53e2c2;
	transition: background-color 1s;
	transition-delay: 4.6s;
  }
  .demo.s--reverting .demo__circle {
	background-color: #3dc1da;
	transition: background-color 0.5s 0.96s;
  }
  .demo__circle-inner {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: inherit;
  }
  .demo__circle-package {
	width: 14px;
	height: 18px;
	stroke: #000;
	stroke-width: 3px;
	stroke-linecap: round;
  }
  .demo.s--processing .demo__circle-package {
	transform: translateY(-70px);
	transition: transform 0.8s 1.2s;
  }
  .demo.s--reverting .demo__circle-package {
	transform: translateY(0);
	transition: transform 0.16s 1.6s;
  }
  .demo__circle-grabbers {
	--grabY: 0px;
	--grabRotate: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  }
  .demo__circle-grabbers:before, .demo__circle-grabbers:after {
	content: "";
	position: absolute;
	right: 5px;
	top: -12px;
	width: 14px;
	height: 8px;
	border: 2px solid #000;
	border-left: none;
	border-bottom: none;
	transform: translateY(var(--grabY)) rotate(var(--grabRotate));
	transition: transform 0.8s;
  }
  .demo__circle-grabbers:before {
	right: auto;
	left: 5px;
	transform: translateY(var(--grabY)) scaleX(-1) rotate(var(--grabRotate));
  }
  @-webkit-keyframes grabAnim {
	40%, 59.999% {
	  --grabY: 15px;
	  --grabRotate: 55deg;
	}
	60%, 100% {
	  --grabY: -55px;
	  --grabRotate: 55deg;
	}
  }
  @keyframes grabAnim {
	40%, 59.999% {
	  --grabY: 15px;
	  --grabRotate: 55deg;
	}
	60%, 100% {
	  --grabY: -55px;
	  --grabRotate: 55deg;
	}
  }
  .demo.s--processing .demo__circle-grabbers {
	-webkit-animation: grabAnim 2s forwards;
			animation: grabAnim 2s forwards;
  }
  .demo__circle-progress {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	stroke: #000;
	stroke-width: 2px;
  }
  .demo__circle-progress-line {
	stroke-dasharray: 125.6813812256, 125.6813812256;
	stroke-dashoffset: 125.6813812256;
  }
  .demo.s--processing .demo__circle-progress-line {
	stroke-dashoffset: 0;
	transition: all 0.5s 4.9s;
  }
  .demo.s--reverting .demo__circle-progress-line {
	stroke-dashoffset: 125.6813812256;
	transition: all 0.5s 0.96s;
  }
  .demo__circle-progress-checkmark {
	stroke-dasharray: 21.2132034302, 21.2132034302;
	stroke-dashoffset: 21.2132034302;
  }
  .demo.s--processing .demo__circle-progress-checkmark {
	stroke-dashoffset: 0;
	transition: all 0.5s 4.9s;
  }
  .demo.s--reverting .demo__circle-progress-checkmark {
	stroke-dashoffset: 21.2132034302;
	transition: all 0.5s 0.96s;
  }
  .demo__text-fields {
	position: relative;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 20px;
	letter-spacing: 1.3px;
  }
  .demo__text {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translateY(20px);
	will-change: opacity, transform;
	pointer-events: none;
  }
  @-webkit-keyframes textAnimation {
	20%, 80% {
	  opacity: 1;
	  transform: translateY(0);
	}
	100% {
	  opacity: 0;
	  transform: translateY(-20px);
	}
  }
  @keyframes textAnimation {
	20%, 80% {
	  opacity: 1;
	  transform: translateY(0);
	}
	100% {
	  opacity: 0;
	  transform: translateY(-20px);
	}
  }
  .demo__text--step-0 {
	opacity: 1;
	transform: translateY(0);
  }
  .demo.s--processing .demo__text {
	transition: all 0.4s;
  }
  .demo.s--processing .demo__text--step-0 {
	opacity: 0;
	transform: translateY(-20px);
  }
  .demo.s--processing .demo__text--step-1 {
	-webkit-animation: textAnimation 2s 0s;
			animation: textAnimation 2s 0s;
  }
  .demo.s--processing .demo__text--step-2 {
	-webkit-animation: textAnimation 2s 1.6s;
			animation: textAnimation 2s 1.6s;
  }
  .demo.s--processing .demo__text--step-3 {
	-webkit-animation: textAnimation 2s 3.2s;
			animation: textAnimation 2s 3.2s;
  }
  .demo.s--processing .demo__text--step-4 {
	transition-delay: 4.8s;
	transform: translateY(0);
	opacity: 1;
  }
  .demo.s--reverting .demo__text--step-0 {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.4s 1s;
  }
  .demo.s--reverting .demo__text--step-4 {
	opacity: 0;
	transform: translateY(20px);
	transition: all 0.4s 0.8s;
  }
  .demo__text-dots {
	letter-spacing: -0.5px;
	font-size: 26px;
  }
  @-webkit-keyframes dotAnimation {
	10%, 90% {
	  opacity: 0;
	}
	40%, 60% {
	  opacity: 1;
	}
  }
  @keyframes dotAnimation {
	10%, 90% {
	  opacity: 0;
	}
	40%, 60% {
	  opacity: 1;
	}
  }
  .demo__text-dots span {
	opacity: 0;
	-webkit-animation: dotAnimation 1.2s 0.4s infinite;
			animation: dotAnimation 1.2s 0.4s infinite;
  }

  .demo__text-dots:before, 
  .demo__text-dots:after {
	  content: "."; opacity: 0;
  }
  
  .demo__text-dots:before {
	-webkit-animation: dotAnimation 1.2s infinite;
			animation: dotAnimation 1.2s infinite;
  }
  .demo__text-dots:after {
	-webkit-animation: dotAnimation 1.2s 0.8s infinite;
			animation: dotAnimation 1.2s 0.8s infinite;
  }
  
  .icon-link {
	z-index: 100;
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: 32px;
  }
  .icon-link img {
	width: 100%;
	vertical-align: top;
  }
  .icon-link--twitter {
	left: auto;
	right: 5px;
  }

  
/* -- YouTube Link Styles -- */

#source-link {
  top: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link {  
  top: 10px;
}

#yt-link > i {
  color: rgb(219, 31, 106); 

}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 600ms, border-color 600ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  transition: color 600ms;
}